#heading {
    /* background-color:#647295; */
    background: #2B262D;
    color: #F8D4BA;
    text-align: center;
    align-items: center;
    padding-bottom: 3%;
    padding-top: 5%;
}

button {
    margin-top: 1%;
    width: 180px;
    background: #F8D4BA;
    color: #2B262D;
    border-color: #2B262D;
}

button:hover {
    background: #2B262D;
    color: #F8D4BA;
    border-color: #F8D4BA;
}

body {
    align-items: center;
    height: 1000px;
    background: #F8D4BA;
}

/* #board {
    border: 2px solid black;
    height: 66%;
    width: 40%;
    align-items: center;
    text-align: center;
    margin: auto;
    padding-top: 10%;
} */

input {
    text-align: center;
    margin-top: 5%;
}

input[type=password],input[type=email], input::placeholder{
    background:#2B262D;
    color:#F8D4BA;
    border: 0px;
}

.container{
    text-align: center;

}

body {
    overflow-y:hidden;
  }