#heading {
    /* background-color:#647295; */
    background: #2b262d;
    color: #f8d4ba;
    text-align: center;
    align-items: center;
    padding-bottom: 3%;
    padding-top: 5%;
}

button {
    margin-top: 1%;
    width: 180px;
    background: #f8d4ba;
    color: #2b262d;
    border-color: #2b262d;
}

button:hover {
    background: #2b262d;
    color: #f8d4ba;
    border-color: #f8d4ba;
}

body {
    align-items: center;
    height: 1000px;
    background: #f8d4ba;
    overflow-y: hidden;
}

/* #board {
    border: 2px solid black;
    height: 66%;
    width: 40%;
    align-items: center;
    text-align: center;
    margin: auto;
    padding-top: 10%;
} */

input {
    text-align: center;
    margin-top: 5%;
}

input[type="password"],
input[type="email"],
input::placeholder {
    background: #2b262d;
    color: #f8d4ba;
    border: 0px;
}

.container {
    text-align: center;
}
