<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
			crossorigin="anonymous" />
		<script src="https://unpkg.com/react@17/umd/react.development.js"></script>
		<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
		<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
		<link rel="stylesheet" href="{{url_for('static', filename='styles/styles.css')}}" />
		<title>Simple Accounting</title>
	</head>
	<body>
		<div id="heading" class="conatiner">
			<h1><u>{{company}}</u></h1>
			<h2>Nominal Transactions</h2>
		</div>
		<div class="flex-column"></div>
		<div id="main" class="container-fluid">
			<div class="row">
				<div id="nav" class="col-3 m-0 p-0"></div>
				<div id="data" class="col-9">
					<table>
						<tr>
							<th>Nominal</th>
							<th>Date</th>
							<th>Type</th>
							<th>Client Code</th>
							<th>Reference</th>
							<th>Description</th>
							<th>Net Value</th>
							<th>VAT</th>
							<th>Total Value</th>
							<th>Year</th>
							<th>Period</th>
							<th>Posted By</th>
							<th>Posted On</th>
						</tr>
						{% for transaction in transactions %}
						<tr>
							<td>{{transaction.nominal_code}}</td>
							<td>{{transaction.date}}</td>
							<td>{{transaction.transaction_type}}</td>
							<td>{{transaction.client_code}}</td>
							<td>{{transaction.transaction_number}}</td>
							<td>{{transaction.description}}</td>
							<td>{{transaction.net_value}}</td>
							<td>{{transaction.vat_value}}</td>
							<td>{{transaction.total_value}}</td>
							<td>{{transaction.accounting_year}}</td>
							<td>{{transaction.accounting_period}}</td>
							<td>{{transaction.posted_by}}</td>
							<td>{{transaction.posted_on}}</td>
						</tr>
						{% endfor %}
					</table>
				</div>
			</div>
		</div>
		<script type="text/babel" src="{{ url_for('static', filename='react/navigation.jsx') }}"></script>
		<script src="{{ url_for('static', filename='js/navDropdown.js') }}"></script>
	</body>
</html>
